.detailItem{
  .infoJob{
    div{
      margin:20px 0;
      font-size: 17px;
    }
    h2{
      font-size: 30px;
    }
    .bt1{
      margin-top: 20px;
    }
    .bt2{
      margin:0 10px;
    }
  }

  .FormApply{
    margin-top: 70px;

    h3{
      font-size: 25px;
    }
  }
}